[MY_PARAMS]
backgroundFilePath =./MyData/background
sampleFilesPath    =./MyData/SuperXping/img
bgColor            =255
bgThresh           =8
maxXangle          =10
maxYangle          =10
maxZangle          =10
maxAngle_Affine    =35
outputPerSample    =100
GausNoiseProb      =0.4
MedianNoiseProb	   =0.4
AffineRotateProb   =0.4
SharpenProb	       =0.6
PerspTransProb     =0
ScalingProb        =0.8
BrightnessProb     =0.5
OutputPath         =./TransferData/SuperXping